<% layout('../default') -%>

<header class="row-fluid text-center">
  <h2>Ntalk - Agenda de contatos</h2>
</header>
<section class="row-fluid">
  <p>Bem-vindo <%- usuario.nome %></p>
</section>

<% include ../exit %>
